        <!--<button mat-raised-button color="primary" (click)="fechaUnixToDDMMAAAA(1723738545)">TEST</button><br>{{test}}<br>-->
        <table cols="2" width="95%">
            <tr>
                <td align="right" border="1px">
                    <table align="right" class="datos_gen">
                        <tr>
                            <td align="right">
                                <span>Tiempo de respuesta:</span>
                            <td align="left" class="datos_gen_dato">
                                <span>{{this.tiempo_respuesta_sc}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <span>Tiempo de Votación:</span>
                            <td align="left" class="datos_gen_dato">
                                <span>{{tiempo_votacion_sc}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <span>Cupo de respuestas:</span>
                            <td align="left" class="datos_gen_dato">
                                <span>{{cupo_respuestas_sc}}</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <button class="nuevaPregunta" mat-raised-button color="primary"
                        (click)="showDialog()">{{idiomaSelPreg.m25}}</button>
                </td>
            </tr>
        </table>
        
        <table cols="7" width="95%">
        @for (item of listaPregs; track item) {
            <tr>
                <td width="4%" class="tdIndex"><div class="id_preg">Nº {{item.idp}}</div></td>
                <td class="tdPreg" colspan="6">
                    <textarea class="textEnunciado" name="preg_enunciado">{{item.enunciado}}</textarea>
                </td>
            </tr>
            <tr>
                <td class="tdHidden"></td>
                <td class="tdMetadata">
                    @if(item.anulada){ <div class="textMetadataPregAnulada">ANULADA</div> }
                    <div class="labelMetadata">Autor:</div><div>{{item.email}}</div>
                    <div class="labelMetadata">Fecha:</div><div>{{item.creada}}</div>
                    <div class="labelMetadata">Estado:<span class="textMetadataEstado">{{item.estado}}</span></div>
                    <div class="labelMetadata">Recompensa:</div>
                    <div class="textMetadataRecompensa">{{item.recompensa}}</div>
                    <div class="labelMetadata">Fecha Votacion:</div><div>{{item.fecha_votacion}}</div>
                </td>
                <td colspan="5" width="80%">
                    <app-respuesta [id_preg]="item.idp"></app-respuesta>
                </td>
                <td class="tdHiddenBtnResp">
                    @if(item.estado=="abierta" && !item.anulada){
                        <label>{{idiomaSel.m26}}</label>
                        <button class="btnSep" (click)="dialogRespuesta(item.idp,item.email)">+</button>
                    }
                    <br>
                    <div>
                        @if(item.estado=="votando" && !item.anulada){
                        <div class="top-right">
                            <br>
                                <label>{{idiomaSel.m29}}</label><br>
                                <select id="selVoto" #opVoto class="selectVoto" (click)="getResp(item.idp)" [(ngModel)]="respSel">
                                    @for (itemSel of listaRespSelect; track itemSel) {
                                        <option  value="{{itemSel}}">{{itemSel}}</option>
                                    }
                                </select>
                                <br>
                        </div>
                        <div>
                            <div><label>{{idiomaSel.m28}}</label></div>
                            <button class="btnVoto" (click)="selectVoto()">+</button>
                        </div>
                        }
                    </div>
                </td>
            </tr>
        } 
        </table>



<!--
        <button mat-raised-button color="primary" (click)="insPregs()">INSERTAR Preguntas</button>
        <button mat-raised-button color="primary" (click)="conPregs1Query()">PROBAR Procesa Fechas</button>-->

