        <button mat-raised-button color="primary" 
        (click)="this.pastEventsPreguntaCreada('PreguntaCreada','0xf562c02033df4b174885d8c7678dc1489340f6d9',6538371)">TEST</button>
        <table cols="2" width="95%">
            <tr>
                <td align="right" border="1px">
                    <table align="right" class="datos_gen">
                        <tr>
                            <td align="right">
                                <span>Tiempo de respuesta:</span>
                            </td>
                            <td align="left" class="datos_gen_dato">
                                <span>{{this.tiempo_respuesta_sc}}</span>
                            </td>
                            
                        </tr>
                        <tr>
                            <td align="right">
                                <span>Tiempo de Votación:</span>
                            </td>
                            <td align="left" class="datos_gen_dato">
                                <span>{{tiempo_votacion_sc}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <span>Cupo de respuestas:</span>
                            </td>
                            <td align="left" class="datos_gen_dato">
                                <span>{{cupo_respuestas_sc}}</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <button class="nuevaPregunta" mat-raised-button color="primary"
                        (click)="showDialog()">{{idiomaSelPreg.m25}}</button>
                </td>
                <td align="center"><button (click)="actualizaListaPregs()">{{idiomaSelPreg.m29}}</button></td>
            </tr>
        </table>
        
        <table cols="7" width="95%">
        @for (item of listaPregs; track item) {
            <tr>
                <td width="4%" class="tdIndex"><div class="id_preg">Nº {{item.idp}}</div></td>
                <td class="tdPreg" colspan="6">
                    <textarea class="textEnunciado" name="preg_enunciado">{{item.enunciado}}</textarea>
                </td>
            </tr>
            <tr>
                <td class="tdHidden"></td>
                <td class="tdMetadata">
                    @if(item.anulada){ <div class="textMetadataPregAnulada">ANULADA</div> }
                    <div class="labelMetadata">Autor:</div><div>{{item.email}}</div>
                    <div class="labelMetadata">Fecha:</div><div>{{item.creada}}</div>
                    <div class="labelMetadata">Estado:<span class="textMetadataEstado">{{item.estado}}</span></div>
                    <div class="labelMetadata">Recompensa:</div>
                    <div class="textMetadataRecompensa">{{item.recompensa}}</div>
                    <div class="labelMetadata">Fecha Votacion:</div><div>{{item.fecha_votacion}}</div>
                </td>
                <td colspan="5" width="80%">
                    <app-respuesta (refresh)="actualizaListaPregs()" [id_preg]="item.idp" 
                    [web3obj]="web3obj" [wallet]="wallet" [estado_actual]="item.estado"
                    [metamask]="metamask"
                    [blockNumber]="item.blockNumber" [transactionIndex]="item.transactionIndex"></app-respuesta>
                </td>
                <td class="tdHiddenBtnResp">
                    @if(item.estado=="abierta" && !item.anulada){
                        <label>{{idiomaSel.m26}}</label>
                        <button class="btnSep" (click)="dialogRespuesta(item.blockNumber,item.transactionIndex,item.idp,item.email)">+</button>
                    }
                </td>
            </tr>
        } 
        </table>



<!--
        <button mat-raised-button color="primary" (click)="insPregs()">INSERTAR Preguntas</button>
        <button mat-raised-button color="primary" (click)="conPregs1Query()">PROBAR Procesa Fechas</button>-->

