<div class="fondo">
    <div class="centrado globals">
        <div class="titulo" mat-dialog-title>Editando nueva respuesta...<br>
        <div class="subtitulo">(Sólo una ÚNICA respuesta por pregunta)</div>
        </div>
        <br>
        <mat-dialog-content>
            <div class="enunciado">
                <mat-form-field appearance="fill" class="textarea">
                    <mat-label>Respuesta</mat-label>
                    <textarea matInput type="text" cdkTextareaAutosize [(ngModel)]="nuevaResp.enunciado" class="textarea"
                        placeholder="Enunciado de la respuesta..."></textarea>
                    <!--<mat-hint>(sólo 1 respuesta)</mat-hint>-->
                </mat-form-field>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions  align="center">
            <button mat-raised-button color="accent" (click)="canceladoResp()">Cancelar</button>
            <button mat-raised-button [mat-dialog-close]="nuevaResp" color="primary"
                (click)="confirmadoResp()">Confirmar</button>
        </mat-dialog-actions>
    </div>
</div>