@if(userDefined && !wallet.address){
<div class="centrado">
        <div class="centrado">
            <img class="imgLogo" src="./assets/logo/Logo-4.jpg" /><br>
            <button (click)="loginMetamask();" type="submit" mat-raised-button color="primary">{{idiomaSel.m10}}</button>
        </div>
</div>
}@else if(userDefined && wallet.address){
    <!--<app-pregunta [idiomaSel]="idiomaSel"></app-pregunta>-->
    <app-pregunta [idiomaSel]="idiomaSel" [web3obj]="web3" [wallet]="wallet" [metamask]="true"></app-pregunta>
}
@else{
    
}