<div>
    <mat-toolbar class="customToolbar" color="primary">
       @if(userDefined){
        <a (click)="regUser=false;loginShow=!loginShow;registrarShow=!registrarShow;">{{idioma_seleccionat.m9}}</a>
        <span class="espacioItems"></span>
        }
        <a (click)="regUser=true;miraSiEsbrinaUser()">{{idioma_seleccionat.m12}}</a>
        <span class="espacioItems"></span>
        <span flex></span>
        <div class="top-right">
            <mat-form-field class="selectIdioma mat-select" color="primary">
                <mat-label class="selectIdiomaTitulo">{{idioma_seleccionat.m0}}</mat-label>
                <mat-select #idioma type="number" [(ngModel)]="levelNum" (ngModelChange)="toNumber()">
                    <mat-option selected *ngFor="let level of levels" [value]=level.num>{{ level.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-toolbar>
    <br>
    <div>
        <h1 class="globalText globalTitle">{{title}}</h1>
        <h2 class="globalText">{{subtitle}}</h2>
    </div>
    <br>
    @if(regUser && !userDefined){
        <img class="imgLogo" src="./assets/logo/{{imgLogoFile}}" />
        <app-usuarios [idiomaSel]="idioma_seleccionat"></app-usuarios>
    }@else if(regUser){
        <div class="centrado">
            <img class="imgLogo" src="./assets/logo/{{imgLogoFile}}" />
            <h4 class="usuarios_op">{{idioma_seleccionat.m22}}</h4>
            <h4 class="usuarios_op">{{idioma_seleccionat.m23}}</h4>
            <button mat-raised-button color="primary" (click)="eliminarCuenta()">{{idioma_seleccionat.m24}}</button>
        </div>
    }@else if (!regUser) {
        <!--<img class="imgLogo" src="./assets/logo/Logo-4.jpg" />-->
        <app-wallet-in *ngIf="loginShow" [idiomaSel]="idioma_seleccionat"></app-wallet-in>
        <app-registrar *ngIf="registrarShow" [idiomaSel]="idioma_seleccionat"></app-registrar>
    }

</div>
