<div class="centrado"> 
    <form *ngIf="!wallet.address" [formGroup]="loginForm" (ngSubmit)="loginMetamask(loginForm.value)">
        <div>
            <input id="n1" formControlName="userLogin" size="20" placeholder="User"/>

            <input id="n2" formControlName="userPass" size="20" type="password" placeholder="Password" />
        </div>
        <div class="centrado">
            <button *ngIf="opcionSel=='login'" type="submit" mat-raised-button color="primary">{{idiomaSel.m9}}</button>
            <button *ngIf="opcionSel=='registrar'" type="submit" mat-raised-button color="primary">{{idiomaSel.m10}}</button>
        </div>
        
        
    </form>
</div>

