<div class="fondo">
    <div class="centrado globals">

        <div  mat-dialog-title align="center" class="titulo">Reputación en el Sistema</div><br>
        <mat-dialog-content>
            <div class="text">
            <table>
                <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Reputación</th>
                        </tr>
                </thead>
                <tbody>
                    @for (item of lista_prestigio; track item;){
                        <tr><td></td><td></td></tr>
                        }
                </tbody>
            </table>
        </div>
        </mat-dialog-content>
        <mat-dialog-actions align="center">
          <button mat-raised-button 
                  [mat-dialog-close]="data_user" 
                  color="primary" 
                  (click)="confirmado()">Cerrar</button>
        </mat-dialog-actions>
    </div>
</div>
