<div class="fondo">
<div class="centrado globals">
    
    <div class="titulo" mat-dialog-title>Editando nueva pregunta...</div><br>
    <mat-dialog-content>
        <div class="enunciado">
            <mat-form-field appearance="fill" class="textarea">
                <mat-label>Enunciado</mat-label>
                <textarea matInput type="text" cdkTextareaAutosize [(ngModel)]="dataPreg.enunciado" class="textarea" 
                          placeholder="Enunciado de la pregunta..."></textarea>
                <mat-hint>(con signos ¿?)</mat-hint>
            </mat-form-field>
        </div><br>
        <div>
            <mat-form-field appearance="outline" width="30" class="recompensa globals">
                <mat-label>Recompensa</mat-label>
                <input matInput type="text" [(ngModel)]="dataPreg.recompensa" class="recompensa" placeholder="valor de la recompensa...">
                <mat-hint>(unidades: wei)</mat-hint>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class=" globals">
        <button mat-raised-button color="accent" (click)="cancelado()">Cancelar</button>
        <button mat-raised-button [mat-dialog-close]="dataPreg" color="primary" (click)="confirmado()">Confirmar</button>
    </mat-dialog-actions>
</div>
</div>