    <!-- <button mat-raised-button color="primary">{{idiomaSelPreg.m25}}</button>

        <button mat-raised-button color="primary" (click)="insResp()">INSERTAR Respuestas</button><br>
        <button mat-raised-button color="primary" (click)="numActualResps()">TOTAL de Respuestas</button>-->
        
      <table>
        @for (item of listaResp; track item) {
            <tr>
                <td width="1%" class="tdRespId">{{item.id_resp}}-</td>
                <td width="auto"><label class="textEnunciado">{{item.enunciado}}</label></td>
                <td width="15%" class="tdRespAutor">{{item.email}}</td>
                <td width="4%" class="tdRespVotos"> Votos {{item.votos}}</td>
            </tr>
        }
    </table>
