<div class="centrado">
    <!-- <button mat-raised-button color="primary">{{idiomaSelPreg.m25}}</button>
        <button mat-raised-button color="primary" (click)="insResp()">INSERTAR Respuestas</button><br>-->
      <table class="tblCenter">
        @for (item of listaResp; track item) {
            <tr>
                <td><div>Autor: {{item.email}}<span width="5px"></span>Votos: {{item.votos}}</div></td><td></td>
            </tr>
            <tr>
                <td><div>Nº {{item.id_resp}}</div></td><td><span width="5px"></span></td><td><div>{{item.enunciado}}</div></td>
            </tr>
            <tr>
                <td>
                    @if(item.ganadora) { <div class="ganadora">green</div>  }
                </td>
                <td>@if(item.anulada){ <div>ANULADA</div> }</td>
            </tr>
        }
      </table>
</div>
